---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Marquee from '../components/Marquee.astro';
import Services from '../components/Services.astro';
import Work from '../components/Work.astro';
import Process from '../components/Process.astro';
import Contact from '../components/Contact.astro';
---

<Layout>
  <div id="top"></div>
  <Hero />
  <Marquee />
  <Services />
  <Work />
  <Process />
  <Marquee />
  <Contact />
</Layout>
